# Every file in this repo is reviewed by the maintainer.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @JanSol0s
